body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.player-table {
  --card-width: 100px;
  --card-height: 137px;
  width: 700px;
  min-height: 360px;
  border: 3px solid var(--player-color);
  border-radius: 8px;
  padding-top: 30px;
  position: relative;
}
.player-table .c-title {
  color: var(--player-color);
  border: 3px solid var(--player-color);
  border-radius: 8px;
}
.player-table .line-stock {
  min-height: var(--card-height);
  padding: 20px 0;
}
.player-table .hand-stock {
  padding: 20px 0;
}
.player-table.eliminated-player {
  background-color: rgba(32, 32, 32, 0.6666666667);
  background-image: none;
}

.player-board.eliminated-player {
  background-color: #b9b9b9;
}
.player-board.eliminated-player .player-name a {
  text-decoration: line-through;
}

#table-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  width: 720px;
  gap: 30px;
  --card-width: 100px;
  --card-height: 137px;
}

#decks {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#decks .deck[data-empty=true] {
  border: 1px solid black;
  border-radius: 5px;
}
#decks .deck .discard {
  cursor: zoom-in;
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 5;
}
#decks .deck .discard.eye-icon {
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 5px;
}

#zones {
  display: flex;
}

#played-card {
  min-width: var(--card-width);
  min-height: var(--card-height);
}

#discard-display-wrapper {
  width: 100%;
  row-gap: 10px;
  border: 3px solid black;
  padding-left: 55px;
  border-radius: 10px;
  min-height: 120px !important;
  position: relative;
  padding-top: 25px;
}
#discard-display-wrapper .c-title {
  color: black;
  border: 3px solid black;
  border-radius: 8px;
}
#discard-display-wrapper .card {
  margin-left: -30px;
}
#discard-display-wrapper .card:hover {
  z-index: 10;
}

[data-display_discard=false] #discard-display-wrapper {
  display: none;
}
[data-display_discard=false] .eye-icon {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1200" height="1200" viewBox="0 0 1200 1200"%3E%3Cpath fill="white" stroke="black" d="M779.843 599.925c0 95.331-80.664 172.612-180.169 172.612c-99.504 0-180.168-77.281-180.168-172.612c0-95.332 80.664-172.612 180.168-172.612c99.505-.001 180.169 77.281 180.169 172.612zM600 240.521c-103.025.457-209.814 25.538-310.904 73.557C214.038 351.2 140.89 403.574 77.394 468.219C46.208 501.218 6.431 549 0 599.981c.76 44.161 48.13 98.669 77.394 131.763c59.543 62.106 130.786 113.018 211.702 154.179C383.367 931.674 487.712 958.015 600 959.48c103.123-.464 209.888-25.834 310.866-73.557c75.058-37.122 148.243-89.534 211.74-154.179c31.185-32.999 70.962-80.782 77.394-131.763c-.76-44.161-48.13-98.671-77.394-131.764c-59.543-62.106-130.824-112.979-211.74-154.141C816.644 268.36 712.042 242.2 600 240.521zm-.076 89.248c156.119 0 282.675 120.994 282.675 270.251c0 149.256-126.556 270.25-282.675 270.25S317.249 749.275 317.249 600.02c0-149.257 126.556-270.251 282.675-270.251z"%2F%3E%3C%2Fsvg%3E') no-repeat center center/contain;
}

[data-display_discard=true] .eye-icon {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1200" height="1200" viewBox="0 0 1200 1200"%3E%3Cpath fill="white" stroke="black" d="M669.727 273.516c-22.891-2.476-46.15-3.895-69.727-4.248c-103.025.457-209.823 25.517-310.913 73.536c-75.058 37.122-148.173 89.529-211.67 154.174C46.232 529.978 6.431 577.76 0 628.74c.76 44.162 48.153 98.67 77.417 131.764c59.543 62.106 130.754 113.013 211.67 154.174c2.75 1.335 5.51 2.654 8.276 3.955l-75.072 131.102l102.005 60.286l551.416-960.033l-98.186-60.008l-107.799 183.536zm232.836 65.479l-74.927 129.857c34.47 44.782 54.932 100.006 54.932 159.888c0 149.257-126.522 270.264-282.642 270.264c-6.749 0-13.29-.728-19.922-1.172l-49.585 85.84c22.868 2.449 45.99 4.233 69.58 4.541c103.123-.463 209.861-25.812 310.84-73.535c75.058-37.122 148.246-89.529 211.743-154.174c31.186-32.999 70.985-80.782 77.417-131.764c-.76-44.161-48.153-98.669-77.417-131.763c-59.543-62.106-130.827-113.013-211.743-154.175c-2.731-1.324-5.527-2.515-8.276-3.807zm-302.636 19.483c6.846 0 13.638.274 20.361.732l-58.081 100.561c-81.514 16.526-142.676 85.88-142.676 168.897c0 20.854 3.841 40.819 10.913 59.325c.008.021-.008.053 0 .074l-58.228 100.854c-34.551-44.823-54.932-100.229-54.932-160.182c.001-149.255 126.524-270.262 282.643-270.261zm168.969 212.035L638.013 797.271c81.076-16.837 141.797-85.875 141.797-168.603c0-20.474-4.086-39.939-10.914-58.155z"%2F%3E%3C%2Fsvg%3E') no-repeat center center/contain;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 5px;
}
.card .front,
.card .back {
  background-image: url("img/cards.jpg");
  background-size: calc(var(--card-width) * 7) calc(var(--card-height) * 3);
  border-radius: 5px;
}
.card .front[data-img="1"] {
  background-position: 0% 0%;
}
.card .front[data-img="2"] {
  background-position: -100% 0%;
}
.card .front[data-img="3"] {
  background-position: -200% 0%;
}
.card .front[data-img="4"] {
  background-position: -300% 0%;
}
.card .front[data-img="5"] {
  background-position: -400% 0%;
}
.card .front[data-img="6"] {
  background-position: -500% 0%;
}
.card .front[data-img="7"] {
  background-position: -600% 0%;
}
.card .front[data-img="8"] {
  background-position: 0% -100%;
}
.card .front[data-img="9"] {
  background-position: -100% -100%;
}
.card .front[data-img="10"] {
  background-position: -200% -100%;
}
.card .front[data-img="11"] {
  background-position: -300% -100%;
}
.card .front[data-img="12"] {
  background-position: -400% -100%;
}
.card .front[data-img="13"] {
  background-position: -500% -100%;
}
.card .front[data-img="14"] {
  background-position: -600% -100%;
}
.card .front[data-img="15"] {
  background-position: 0% -200%;
}
.card .front[data-img="16"] {
  background-position: -100% -200%;
}
.card .front[data-img="17"] {
  background-position: -200% -200%;
}
.card .front[data-img="18"] {
  background-position: -300% -200%;
}
.card .front[data-img="19"] {
  background-position: -400% -200%;
}
.card .front[data-img="20"] {
  background-position: -500% -200%;
}
.card .front[data-img="21"] {
  background-position: -600% -200%;
}

.line-stock .card.bga-cards_selectable-card .card-sides .card-side {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 0 0 3px 5px rgba(255, 165, 0, 0.6666666667);
}

.card.bga-cards_selected-card .card-sides .card-side {
  animation: pulseSelectable 1.5s infinite alternate;
}

.c-card-selected {
  box-shadow: inset 0 0 3px 5px #00ffff;
}

@keyframes pulseSelectable {
  0% {
    box-shadow: inset 0 0 3px 5px #00ffff;
  }
  to {
    box-shadow: inset 0 0 10px 5px #0885c3;
  }
}
.hand-stock .card:hover {
  z-index: 10;
}
.hand-stock[data-count="10"], .hand-stock[data-count="11"] {
  --card-overlap: 40px !important;
  --card-shift: 5px !important;
  --card-inclination: 5deg !important;
}
.hand-stock[data-count="12"], .hand-stock[data-count="13"] {
  --card-overlap: 50px !important;
  --card-shift: 4px !important;
  --card-inclination: 4deg !important;
}

#table {
  padding-top: 40px;
}

#tables {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.c-title {
  background-color: white;
  border: 3px solid var(--color);
  border-radius: 5px;
  color: var(--color);
  padding: 5px 15px;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 10px;
}

.card-tooltip .header {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 6px;
}
.card-tooltip table tr {
  line-height: 20px;
}
.card-tooltip table th {
  font-weight: 600;
  padding-right: 10px;
}
.card-tooltip table td {
  padding: auto 10px;
  text-align: center;
}
