.player-table {
   --card-width: calc(100px * var(--card-ratio));
   --card-height: calc(137px * var(--card-ratio));
   width: 700px;
   min-height: 320px;
   border: 3px solid var(--player-color);
   border-radius: 8px;
   padding-top: 30px;
   position: relative;
   background: #ffffff44;

   .c-title {
      color: var(--player-color);
      border: 3px solid var(--player-color);
      border-radius: 8px;
   }

   .line-stock {
      min-height: var(--card-height);
   }

   .hand-stock {
      padding: 20px 0;
   }

   &.eliminated-player {
      background-color: #202020aa;
      background-image: none;
   }
}

.player-board {
   &.eliminated-player {
      background-color: #b9b9b9;

      .player-name a {
         text-decoration: line-through;
      }
   }
}