#table-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    min-width: 500px;
    --card-width: 100px;
    --card-height: 137px;
}

#decks {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .deck {
        &[data-empty="true"] {
            border: 1px solid black;
            border-radius: 5px;
        }

        .discard {
            cursor: zoom-in;
            position: absolute;
            right: 10px;
            top: 25px;
            z-index: 5;
        }
    }
}

#played-card {
    margin-top: 30px;
    min-width: var(--card-width);
    min-height: var(--card-height);
}