@import "../node_modules/bga-cards/bga-cards";
@import 'player-table';
@import 'table-center';
@import 'cards/cards.scss';

#table {
    padding-top: 40px;
}

#tables {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.c-title {
    background-color: white;
    border: 3px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    padding: 5px 15px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 10px;
}

.card-tooltip {
    .header {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 6px;
    }

    table {
        tr {
            line-height: 20px;
        }

        th {
            font-weight: 600;
            padding-right: 10px;
        }

        td {
            padding: auto 10px;
            text-align: center;
        }
    }
}

#standoff {
    display: none;
    background-color: black;
    color: red;
    font-size: 36px;
    font-weight: 700;
    margin: 0 -5px -5px;
    padding: 10px;
}


[data-standoff="true"] #standoff {
    display: block;
}

.gamestate_gameEnd #standoff {
    display: none !important;
}