@import 'player-table';
@import 'table-center';

// #tables-and-center {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: stretch;
//     gap: 20px;
//     flex-direction: column;
//     margin-right: 10px;
  
//     #tables {
//       position: relative;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-wrap: wrap;
//       gap: 20px;
//       flex-direction: column;
//     }
//   }