@import "../node_modules/bga-cards/bga-cards";
@import 'player-table';
@import 'table-center';
@import 'cards/cards.scss';

// #tables-and-center {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: stretch;
//     gap: 20px;
//     flex-direction: column;
//     margin-right: 10px;

//     #tables {
//       position: relative;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-wrap: wrap;
//       gap: 20px;
//       flex-direction: column;
//     }
//   }

#table {
    padding-top: 40px;
}

.c-title {
    background-color: white;
    border: 3px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    padding: 5px 15px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 10px;
}